.containerPopup {
    position: absolute;
    min-width: 300px;
    background-color: #DDDDDD;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:10px;
}
.title {
    text-align: center;
    font-weight: 700;
}

button {
    background-color: #AAAAAA;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin: 4px;
    height: 24px;
    width: 150px;
    border-radius: 4px;
}
button:hover {
    background-color:  #999999;
}